<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
    <style>
        h1{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Hai There</h1>
    <div>
        <h1>LOGIN PAGE</h1>
        <label for="text">Username</label>
        <input type="text">
        <br>
        <br>
        <label for="password">password</label>
        <input type="password">
        <br>
        <input type="button" value="password">

    </div>
</body>
</html>