<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
    </head>
    <body>
        <h1 class="background">Hello There,</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            ullam enim provident nostrum molestiae dolorum soluta incidunt,
            itaque, veniam odio neque perferendis quo facilis, nemo tenetur
            illum. Consequatur, optio quisquam!</p>
    </body>
</html>